@import 'tailwindcss';

@theme {
  --color-lighttile: #995d31;
  --color-darktile: #5e3a2b;
  --color-slatetile: #332f47;
  --font-display: 'Rubik', 'sans-serif';
  --color-tooltip: rgba(0, 0, 0, 0.9);
  --color-bazaarBtn: #0d58a6;
  --color-bazaarBtnActive: #0085bb;
  --color-btnBorder: #00fefe;
  --color-bazaarDark: #372f3f;
  --color-bazaarDarkLight: #3c3343;
  --color-bazaarDarkest: #28202f;
  --color-noRarity: #d3d3d3;
  --color-gold: #ffd700;
  --color-silver: #c0c0c0;
  --color-bronze: #cd7f32;
  --color-diamond: #b9f2ff;
  --color-hero: #8a2be2;
}

@layer components {
  .backpattern {
    background-color: #372f3f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2328202f' fill-opacity='0.50' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }
  .forepattern {
    background-color: #372f3f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2328202f' fill-opacity='0.8' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }
  .skillsPanel {
    background-color: #81543c;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23b8834e' fill-opacity='0.28'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  }
  .itemsPanel {
    background-color: #654526;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2334210e' fill-opacity='0.28' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  }
}

